@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap);

.carrusel {
    background-image: linear-gradient(#F25c05, white);
}

.img {
    width: 300px;
    height: 250px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

@media (max-width: 768px) {
    .img {
        width: 100%;
       
    }

    .carrousel {
        margin-bottom: 3px;
    }
    
}