@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;400;500&display=swap');

.warning-style
{
    background-color: #D99152;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;   
}

.warning-button-style
{
    display: inline-flex;
    justify-content: flex-end;
}

@media  (min-width : 992px){
    .warning-style
    {
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        word-spacing: 3px;
    }
}